<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zmt.manager" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.zmt.manager.Application.App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.zmt.manager.Activity.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.zmt.manager.Activity.MusicActivity" >
        </activity>
        <activity android:name="com.zmt.manager.Activity.VideoActivity" >
        </activity>
        <activity android:name="com.zmt.manager.Activity.WordActivity" >
        </activity>
        <activity android:name="com.zmt.manager.Activity.FolderActivity" >
        </activity>
        <activity android:name="com.zmt.manager.Activity.ImageActivity" >
        </activity>
        <activity android:name="com.zmt.manager.Activity.StorageActivity" >
        </activity>
        <activity android:name="com.zmt.manager.Activity.OperateActivity" >
        </activity>
        <activity
            android:name="com.zmt.manager.Activity.MouseActivity"
            android:label="@string/title_activity_mouse" >
        </activity>
        <activity
            android:name="com.zmt.manager.Activity.DiskActivity"
            android:label="@string/title_activity_driver_list" >
        </activity>
        <activity
            android:name="com.zmt.manager.Activity.PCFileActivity"
            android:label="@string/title_activity_pcfile_list" >
        </activity>
    </application>

</manifest>
